body {
    background-image: url(js/bjtable.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

h1, h2, p{
    font-family: 0.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    height: 50px;
    width: fit-content;
    padding: 10px 30px 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 3px 1px rgba(141, 255, 175, 0.5);
    border-radius: 10px;
}

.layout{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

/* #bank{
    text-align: center;
    margin-left: 400px;
} */

.wrapper{
    margin: auto;
    width: fit-content;
}

.cards{
    display: flex;
    gap: 10px;
}

.card{
    height: 60px;
    width: 80px;
    border: 2px solid black;
    padding-top: 60px;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    background-color: white;
}

.card[data-red=true]{
    color: red;
}

.back{
    background-image: url(js/cardback.PNG);
    background-size: contain;
}

.container{
    margin: 30px;
}

.background{
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50vh;
    width: 50vw;
}

.notice{
    height: fit-content;
    width: fit-content;
    padding: 5%;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.notice p{
    white-space: pre-wrap;
    line-height: 150%;
}

#notice{
    display: none;
}

